{
  "GOOGLE_MAPS_API_KEY": "YOUR_GOOGLE_MAPS_API_KEY",
  "GOOGLE_MAPS_WEB_MAP_ID": "",
  "GOOGLE_MAPS_ANDROID_MAP_ID": "",
  "GOOGLE_MAPS_IOS_MAP_ID": "",
  "MAPBOX_ACCESS_TOKEN": "YOUR_MAPBOX_ACCESS_TOKEN",
  "MAPBOX_STYLE_ID": "YOUR_MAPBOX_STYLE_ID"
}
